body {
  background-image: url(../img/milky-way.jpg);
  background-size: cover;
  color: white;
}

#main {
  text-align: center;s
}

#result {
  padding: 10px;
  color: white;
  text-align: left;
}

img {
  align-content: center;
  margin: 1%;
  height: 50%;
  width: 50%;
}

.inputField {
  background-image: url(../img/milky-way.jpg);
  border-style: outset;
  border-color: silver;
  border-width: thick;
  margin: 2px;
  color: white;
}
