body {
  background-image: url(../img/milky-way.jpg);
  background-size: cover;
  color: white;
}

#main {
  text-align: center;
}

#result {
  padding: 10px;
  color: white;
}
#halpic {
  display: none;
  align-content: center;
}
img {

  display:block;
  text-align: center;
  margin: 0 auto;
  height: 50%;
  width: 50%;
}

.inputField {
  background-image: url(../img/milky-way.jpg);
  border-style: outset;
  border-color: silver;
  border-width: thick;
  margin: 2px;
  color: white;
}
